<div ng-show="beat.reporters.length" class="container">
  <div class="row">
    <h4>Reporter List for {{beat.name}}</h4>
    <ul>
      <li ng-repeat="item in beat.reporters">{{item.name}} {{item.birthDay}} {{item.timeEmployed}}</li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4>Add Reporter to {{beat.name}}</h4>
    <form ng-submit="addReporter()" class="form">
      <div class="form-group">
        <input type="text" ng-model="reporterName" class="form-control" placeholder="Enter reporter name">
      </div>
      <div class="form-group">
        <input type="text" ng-model="birthDay" class="form-control" placeholder="Enter date of birth">
      </div>
      <div class="form-group">
        <input type="text" ng-model="timeEmployed" class="form-control" placeholder="Enter length of employment">
      </div>
      <button type="submit" class="btn btn-default">Add Reporter</button>
    </form>
  </div>
</div>
